<div class="post">
    <%
       if @post
         post = @post
       end
    %>
    <h2 class="post-title"><a href="<%= post_path(post) %>"><%= post.title %></a></h2>
    <hr>
    <%= raw post.markdown %>
    <div class="text-right post-info" style="">
        <% if current_user %>
            <a class="tool" href="<%= edit_post_url(post) %>"><i class="fa fa-pencil"></i> Edit</a>
            <a class="tool" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="<%= post_path(post) %>"><i class="fa fa-trash"></i>
                Delete</a>
        <% end %>
        <small class="post-date">
            <code>Posted: <%= post.created_at.getlocal.strftime(Settings.post.date_format) %></code>
        </small>
    </div>
</div>