<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Index - zack6849</title>
    <meta name="description" content="Hi there, i'm zack6849, welcome to my website!"/>
    <meta name="author" content="zack6849"/>
    <meta name="copyright" content="zack6849 2014"/>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <!--[if lt IE 9]>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<style>
    .fa {
    margin-right: 0.7em;
}

.stat *{
    color:#333 !important;
}
.container{
    width: 970px !important;
}

body {
    background: fixed center url("/img/city.jpg");
}

nav.navbar {
    margin-top: 2em;
}

ol.numbered {
    list-style-type: decimal;
}

a.list-group-item {
    border: none !important;
    border-image-width: 0 !important;
    margin-bottom: 0;
    overflow: hidden;
}

a.list-group-item:not(.active):not(.stat) {
    border: none !important;
    background-color: rgba(166, 166, 166, 0.5) !important;
}
</style>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Prop Hunt [US]</a>
            </div>
            <div class="collapse hidden-xs hidden-sm">
                <ul class="nav navbar-nav">
                    <li><a><i class="fa fa-comment"></i>Forums</a></li>
                    <li><a><i class="fa fa-send"></i>Contact Us</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-heading">Rules</div>
                <div class="panel-body">
                    <ol class="numbered">
                        <li>Respect ALL players, including admins.</li>
                        <li>No cheating, this includes hacks, ghosting, etc. Admins can and will spectate players to
                            tell if you are cheating, if you are caught cheating, you will be banned.
                        </li>
                        <li>You must hide in a place where a hunter can actually shoot you, there is a list of illegal
                            spots included below.
                        </li>
                        <li>Excessive cursing may lead to being muted</li>
                        <li>No forms of racism, discrimination based on orientation, gender, or other bigotry will be
                            tolerated
                        </li>
                        <li>No mic spamming, this includes playing music over your microphone, we have a youtube player
                            if people want to hear it that bad. click the close button in the right hand corner!
                        </li>
                        <li>No team switching, you are not allowed to switch teams just to play on one side</li>
                        <li>Do not ask for any sort of promotions, we pick players as we see fit, asking for staff is
                            annoying and may lead to being muted
                        </li>
                        <li>You must be at least 13 to have a steam account, if you are under 13, act maturely.</li>
                        <li>If you have an issue or would like to talk to an admin, prefix your message with @ and it
                            will be sent to all staff online
                        </li>
                        <li>No advertising of other servers, doing so will get you banned.</li>
                        <li>The remote prop has no hitbox, and thus using it will get you kicked and or slain.</li>
                        <li>If you're stuck, tell an admin, and we'll do our best to teleport you, note that having a
                            weird name may lead to it taking longer.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Illegal Spots</div>
                <div class="panel-body">
                    <ul style="list-style-type: none">
                        <li>
                            <b>Zombie Bunker</b>
                            <ol class="numbered">
                                <li>Behind the computer monitors</li>
                                <li>In the soda machine</li>
                                <li>In the zombie cage</li>
                                <li>In or around the bath tubs downstairs</li>
                            </ol>
                        </li>
                        <li>
                            <b>Motel</b>
                            <ol class="numbered">
                                <li>Behind / Under the bath tub</li>
                                <li>In, under, or behind the cars</li>
                                <li>In, on, or behind the rocks</li>
                            </ol>
                        </li>
                        <li>
                            <b>Restaurant</b>
                            <ol class="numbered">
                                <li>Behind the monitors downstairs</li>
                                <li>Behind the soda machine in the truck</li>
                                <li>Under or behind the beds, if you're a remote</li>
                            </ol>
                        </li>
                        <li>
                            <b>Lockup</b>
                            <ol class="numbered">
                                <li>Under the cookers in the kitchen</li>
                                <li>Under the stairs by the jail cells</li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">YouTube Player</div>
                <div class="panel-body">
                    We have our own youtube player setup on the server, it's neat to use, but to prevent spamming of it,
                    <b>it's currently limited to staff only.</b>
                    </p>
                    <b>Rules of the youtube player:</b>
                    If you want to request a song, then make sure your song isn't an offensive or overly vulgar one.

                    To request a song, message a staff member, do not spam them, asking for the same song repeatedly
                    will lead to you being ignored

                    Don't like the song currently playing? Mute it, whining about it is annoying.
                    </p>
                    <b>How to use the youtube player:</b>
                    As mentioned above, the youtube player is limited to staff only, however if you ask nicely, a staff
                    member may play your song for you.
                    </p>
                    <b>Having difficulty using the youtube player?</b>
                    <ul>
                        <li>Can't move your mouse and click the player? open up your chat window, this will release your
                            mouse.
                        </li>
                        <li>
                            Can't hear anything?
                            <ul>
                                <li>
                                    <b>Windows or Mac</b>
                                    The youtube player <em>usually</em> works fine on windows, we've had reports it
                                    doesnt work quite right with mac, i cant test it myself as i don't have a mac.
                                    Most common issues with the youtube player can be fixed by reading <a
                                href="https://support.steampowered.com/kb_article.php?ref=8175-XFMJ-5769">this
                                    steam support article</a>
                                </li>
                                <li><b>Linux</b><br>
                                    This doesn't always work on certain linux distros, to make sure it works, download
                                    the flashplayer from the adobe website, and copy the libflashplayer.so to
                                    ~/.local/share/Steam/bin/plugins, if this doesnt work, also copy it to the ubuntu*
                                    folder's bin/plugins/, you may need to restart for it to take effect
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="list-group">
                <a class="list-group-item active"><b>Stats</b></a>
                <a class="list-group-item stat"><span class='label'><i
                class="fa fa-users"></i><%= @steam.players.count %> Users Online</span></a>
                <a class="list-group-item stat"><span class='label'><i class="fa fa-user-secret"></i><%= @steam.online_staff.count %>
                    Staff Online</span></a>
            </div>
            <% @ranks.each do |rank|%>
                <div class="list-group rank">
                    <a class="list-group-item active"><%= @steam.converter[rank.first] %></a>
                    <% rank.second.each do |user| %>
                        <%
                           data = @steam.data[user]
                           id = data['id']
                           profile = data['user']
                        %>
                        <% if @steam.online_staff.include? id %>
                            <a class="list-group-item rank" id="<%= id %>">
                                <span class='label label-success'>
                                    <img style='margin-right: 0.7em;' class="img-circle" src="<%= profile.icon_url %>"><%= profile.nickname %>
                                </span>
                            </a>
                        <% elsif @steam.data[user]['user'].online? %>
                            <a class="list-group-item rank" id="<%= @steam.data[user]['id'] %>">
                                <span class='label label-info'>
                                    <img style='margin-right: 0.7em;' class="img-circle" src="<%= profile.icon_url %>"><%= profile.nickname %>
                                </span>
                            </a>
                        <% else %>
                            <a class="list-group-item rank" id="<%= profile.id %>">
                                <span class='label label-danger'>
                                    <img style='margin-right: 0.7em;' class="img-circle" src="<%= profile.icon_url %>"><%= profile.nickname %>
                                </span>
                            </a>
                        <% end %>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>